= div_for boom do
	.boom-title
		= "@#{boom.location} - #{boom.gender ? '女生' : '男生'} - #{boom.hair}"
	.flirt= boom.flirt
	.opt= opt4b boom
	.comments= render :partial => "partials/comment", :collection => boom.comments
	= render "comments/comment", :boom => boom