= form_for([school,boom]) do |f|
  - if boom.errors.any?
    #error_explanation
      %h2
        = pluralize(boom.errors.count, "error")
        prohibited this boom from being saved:
      %ul
        - boom.errors.full_messages.each do |msg|
          %li= msg
  .field
    = label_tag '我在看一个'
    = f.radio_button :gender, true, :checked => true
    = f.label '女生'
    = f.radio_button :gender, false
    = f.label '男生'
    = f.label '， 发型是'
    = f.text_field :hair
    = f.label '， 地点在'
    = f.text_field :location
  .field
    = f.label '煽情：', :style => 'vertical-align: top'
    = f.text_area :flirt, :rows => 6
    = f.submit '喵～ 喵～', :style => 'vertical-align: top'