= form_for([school,boom], :remote => true) do |f|
  - if boom.errors.any?
    #error_explanation
      %h2
        = pluralize(boom.errors.count, "error")
        prohibited this boom from being saved:
      %ul
        - boom.errors.full_messages.each do |msg|
          %li= msg
  .field
    %span 我在看一个
    = f.radio_button :gender, true, :checked => true
    %span 女生
    = f.radio_button :gender, false
    %span 男生， 发型是
    = f.text_field :hair, :class => 'required'
    %span ， 地点在
    = f.text_field :location, :class => 'required'
  .field
    %span{:style => 'vertical-align: top'} 煽情
    = f.text_area :flirt, :rows => 6, :class => 'required'
    = f.submit '喵～ 喵～', :style => 'vertical-align: top'