<h1>Listing booms</h1>

<table>
  <tr>
    <th>User</th>
    <th>Gender</th>
    <th>Hair</th>
    <th>Location</th>
    <th>Flirt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booms.each do |boom| %>
  <tr>
    <td><%= boom.user %></td>
    <td><%= boom.gender %></td>
    <td><%= boom.hair %></td>
    <td><%= boom.location %></td>
    <td><%= boom.flirt %></td>
    <td><%= link_to 'Show', boom %></td>
    <td><%= link_to 'Edit', edit_boom_path(boom) %></td>
    <td><%= link_to 'Destroy', boom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boom', new_boom_path %>
