<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @boom.user %>
</p>

<p>
  <b>Gender:</b>
  <%= @boom.gender %>
</p>

<p>
  <b>Hair:</b>
  <%= @boom.hair %>
</p>

<p>
  <b>Location:</b>
  <%= @boom.location %>
</p>

<p>
  <b>Flirt:</b>
  <%= @boom.flirt %>
</p>


<%= link_to 'Edit', edit_boom_path(@boom) %> |
<%= link_to 'Back', booms_path %>
