= form_for(@school) do |f|
  - if @school.errors.any?
    #error_explanation
      %h2
        = pluralize(@school.errors.count, "error")
        prohibited this school from being saved:
      %ul
        - @school.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label '学校全名 如：中山大学'
    %br/
    = f.text_field :name, :class => 'required'
  .field
    = f.label '学校英文缩写 如：sysu'
    %br/
    = f.text_field :abbr, :class => 'required'
  .field
    = f.label '学校网址 如：http://www.sysu.edu.cn'
    %br/
    = f.text_field :website, :class => 'required url'
  .actions
    = f.submit '提交'