= form_for(school) do |f|
  .field
    .form-label
      学校全名
      %span e.g. 中山大学
    = f.text_field :name, :class => 'required'
  .field
    .form-label
      英文缩写
      %span e.g. sysu
    = f.text_field :abbr, :class => 'required'
  .field
    .form-label
      学校网址
      %span e.g. http://www.sysu.edu.cn
    = f.text_field :website, :class => 'required url'
  .actions
    = f.submit '创建学校'